@model List<TestApp.Library.DAL.Models.Users>
@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 class="display-4">List of Users</h1>
</div>

<table class="table table-dark table-hover" >
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Created</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.user_id</td>
            <td>@user.first_names</td>
            <td>@user.last_names</td>
            <td>@user.email</td>

            @if (user.is_active == true)
            {
                <td>
                    <label class="text-success">Active</label>
                </td>
            }
            else
            {
                <td>
                    <label class="text-danger">Inactive</label>
                </td>
            }

            <td>@user.created_at</td>

            <td>
                <a asp-action="Details" asp-route-id="@user.user_id">Details</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@user.user_id">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>

